/* Estilos para telas Maiores*/
body{
    margin: 0;
}

.container {
    max-width: 1440px;
    margin-left: 220px;
    margin-top: none;
    border: none;
}

.cabeçalho  {
    display: flex;
    height: 75px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 25px;
    background-color: #fe9900;
    font-family:'Comfortaa';
    font-size: 34px;
    font-weight: bold;
}

.menus {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    background-color: #111111;
    color: white;
    font-weight: bold;
}

.menu-list {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    list-style-type: none;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin: 0 0;
}

.menu-header li {
    padding: 0 15px;
    align-content: center;
}

.redes-sociais {
    margin-left: 20px;
    background-color: #333333;
    color:#eeeeee;
    display: flex;
    align-items: center;
}

.redes-sociais i {
    padding: 15px 30px;
}

.menu { 
    display: flex;
    justify-content: row;
}

.divClass {
    display: flex;
    flex-direction: column; 
    width: 100%;
    padding: 70px;
    i {
        display: flex;
        justify-content: center;
        font-size: 120px;
        padding: 32px;
        
    }
    h1 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 28px;
        margin: 10px;
    }

    p {
       display: flex;
       justify-content: center;
       text-align: center;
       font-family: "Roboto Condensed", sans-serif;
       margin: 16px 0px;
       
    }
}

#strategy {
    background-color: #eeeeee;
    color: #696969;
}

#pencil {
    background-color: #fe9900;
    color: #443b2e;
}

#monitor {
    background-color: #333333;
    color: #fe9900;
}

#support {
    background-color: #666666;  
    color: #eeeeee; 
}

.meu-footer {
    display:flex;
    justify-content: space-around;
}

.classList {
    list-style-type: none;
    width: 500px;
    padding: 50px;
    background-color: #111111;
    color: #eeeeee;
}

.h3 {
    display:flex;
    align-items: center;
}


  /*li::before {
    content: "\2022"; /* Código Unicode para o símbolo de bullet
    color: #eeeeee; /* Cor do símbolo 
    margin-right: 0.5em; /* Espaçamento entre o símbolo e o texto 
}*/